.cont-red{
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: #2d3748;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transform: rotate(45deg);
}
.cont-red a {
    transform: rotate(-45deg);
}
body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
body::-webkit-scrollbar-track {
    background: #2e3441;
    border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
    background: #38404e;
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #38404e;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color: #38404e;
}
.scroll{
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes scroll{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}