body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
#header{
    height: 100vh;
}
@media (min-width:1024px){
    .container-nav{
        display: none;
    }
    nav.nav{
        display: none;
    }
    #main{
        display: grid;
        grid-template-columns: 5% 2fr 1fr 5%;
        height: 100vh;
    }
    .left{
        display: flex;  
        align-items: center;
        justify-content: center;
        grid-column: 2/3;
        height: 80vh;
        margin-top: 10vh;
    }
    .left img{
        height: 100%;
        width: auto;
    }
    .left h1{
        font-size: 5rem;
        margin-left: 12%;
        font-weight: 800;
        color:#E44652;
    }
    .right{
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right ul{
        list-style:none;
    }
    .right ul li a{
        line-height: 48px;
        font-size: 38px;
        color:#12263A !important;
        text-decoration: none;
    }
    .right ul li a:hover{
        border-bottom:1px solid #12263A;
        transition-delay: .1s;
    }

    /*section information*/
    #Informacion{
        display: grid;
        grid-template-rows: 10vh 1fr;
        grid-template-columns: 5% 1fr 1fr 5%;
    }
    #Informacion h1{
        color: #E44652;
        grid-row: 1/2;
        grid-column: 2/4;
        text-align: center;
        font-size: 2.5em;
        margin: 20px 0;
    }
    #Informacion .info-l{
        text-align: center;
        grid-row: 2/2;
        grid-column: 2/3;
    }
    #Informacion .info-l p, .info-r p{
        font-size: 1.5em;
    }
    #Informacion .info-r{
        text-align: center;
        grid-row: 2/2;
        grid-column: 3/4;
    }
    /* Educacion */
    #Educacion, #Experiencia,#Cursos{
        display: grid;
        grid-template-rows: 10vh 1fr;
        grid-template-columns: 5% 1fr 5%;
    }
    #Educacion h1, #Experiencia h1, #Cursos h1{
        color: #E44652;
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
        font-size: 2.5em;
        margin: 20px 0;
    }
    #Educacion .edu, #Experiencia .exp, #Cursos .cur{
        margin: 20px 0;
        grid-row: 2;
        grid-column: 2;
        font-size: 1.5em;
    }
    #Educacion .edu .head-edu, #Experiencia .exp .head-exp, #Cursos .cur .head-cur{
        display: flex;
        justify-content: space-between;
    }

    #Informatica, #Redes{
        display: grid;
        grid-template-rows: 10vh 1fr;
        grid-template-columns: 5% 1fr 1fr 1fr 5%;
    }
    #Informatica h1, #Redes h1{
        color: #E44652;
        grid-row: 1/2;
        grid-column: 2/5;
        text-align: center;
        font-size: 2.5em;
        margin: 20px 0;
    }
    #Informatica .inf-l, #Redes .red-l{
        text-align: center;
        grid-row: 2/2;
        grid-column: 2/3;
        margin: 20px 0;
        font-size: 1.5em;
    }
    #Informatica .inf-c, #Redes .red-c{
        text-align: center;
        grid-row: 2/2;
        grid-column: 3/4;
        margin: 20px 0;
        font-size: 1.5em;
    }
    #Informatica .inf-r, #Redes .red-r{
        text-align: center;
        grid-row: 2/2;
        grid-column: 4/5;
        margin: 20px 0;
        font-size: 1.5em;
    }
    .cont-red{
        margin: 25px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        background-color: #E44652;
        transform: rotate(-45deg);
    }
    .cont-red a{
        transform: rotate(45deg);
        color:white;
    }
}
@media (max-width:1023px){
    #header{
        display: grid;
        height: 100vh;
        width: 100%;
        position: relative;
        grid-template-rows: 10vh 1fr;
        grid-template-columns: 5% auto 5%;
    }
    nav {
        height: 10vh;
        width: 100%;
        grid-row: 1;
        grid-column: 1/4;
        position: relative;
    }
    nav .btn-menu{
        grid-column: 2;
        height: 50px;
        width: 45px;
        border: none;
        padding: 5px;
        color: white;
        z-index: 101;
        border-bottom-right-radius: 15px;
        background-color: #E44652 !important;
        position: fixed;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    .container-nav{
        position: fixed;
        display: grid;
        grid-template-rows: 10vh 1fr;
        grid-template-columns: 5% 1fr 5%;
        height: 100vh;
        grid-row: 2/3;
        grid-column:2;
        z-index: 100;
        width:100%;
        transition: ease-in-out 2s;
        background-color: white;
    }
    .container-nav ul{
        grid-row: 2;
        grid-column: 2;
        margin: auto;
        padding: 0;
        font-size: 1.5em;
        color: black;
        text-align: center;
    }
    a:target,a:link, a:visited{
        color: black;
    }
    .d-none{
        display: none;
    }
    #main{
        grid-row: 2/3;
        grid-column: 2/3;
        position: relative;
        display: grid;
        grid-template-columns: 5% 1fr 5%;
    }
    #main .left{
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        grid-column: 2/3;
        margin: auto;
        color: #E44652;
    }
    .left h1{
        position: absolute;
        left: 0;
        font-size: 4em;
        max-width: 360px;
    }
    .left img{
        position: absolute;
        z-index: -1;
        max-width: 300px;
        right: 0;
        max-height: 80vh;
    }
    #main .right{
        display: none;
    }
    /* sections */
    #Informacion{
        display: grid;
        width: 100%;
        grid-template-rows: 10vh auto 1fr;
        grid-template-columns: 5% auto 5%;
    }
    #Informacion h1{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        grid-column: 2;
        font-size: 2em;
        text-align: center;
        color: #E44652;
    }
    #Informacion .info-l{
        grid-row: 2/3;
        grid-column: 2;
        font-size: 1.2em;
        display: inline;
    }
    #Informacion .info-r{
        grid-row: 3/4;
        grid-column: 2;
        font-size: 1.2em;
        display: inline;
    }

    #Educacion, #Cursos, #Experiencia{
        display: grid;
        grid-template-rows: 10vh 1fr;
        grid-template-columns: 5% auto 5%;
    }
    #Educacion h1, #Cursos h1,#Experiencia h1{
        grid-row: 1/2;
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #E44652;
        font-size: 2em;
    }
    #Educacion .edu, #Cursos .cur,#Experiencia .exp{
        grid-row: 2;
        grid-column: 2;
        font-size: 1.2em;
    }
    #Educacion .edu .head-edu, #Cursos .cur .head-cur, #Experiencia .exp .head-exp{
        display: flex;
        justify-content: space-between;
    }
    #Redes{
        margin-bottom: 50px;
    }
    #Informatica,#Redes{
        display: grid;
        grid-template-rows: 10vh auto auto auto;
        grid-template-columns: 5% auto 5%;
    }
    #Informatica h1,#Redes h1{
        grid-row: 1;
        grid-column: 2;
        text-align: center;
        color: #E44652;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Informatica .inf-l,#Redes .red-l{
        grid-row: 2/3;
        grid-column: 2;
        text-align: center;
        font-size: 1.2em;
    }
    #Informatica .inf-c,#Redes .red-c{
        grid-row: 3/4;
        grid-column: 2;
        text-align: center;
        font-size: 1.2em;
    }
    #Informatica .inf-r,#Redes .red-r{
        grid-row: 4/5;
        grid-column: 2;
        text-align: center;
        font-size: 1.2em;
    }
    .cont-red{
        margin: 25px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        background-color: #E44652;
        transform: rotate(-45deg);
    }
    .cont-red a{
        transform: rotate(45deg);
        color:white;
    }
}
@media (min-width: 550px){
    #Informacion{
        display: grid;
        width: 100%;
        grid-template-rows: 10vh auto ;
        grid-template-columns: 5% auto auto 5%;
    }
    #Informacion h1{
        grid-row: 1;
        grid-column: 2/5;
    }
    #Informacion .info-l{
        grid-row: 2;
        grid-column: 2/3;
        font-size: 1em;
        text-align: center;
    }
    #Informacion .info-r{
        grid-row: 2;
        grid-column: 3/4;
        font-size: 1em;
        text-align: center;
    }
    #Informatica, #Redes{
        display: grid;
        grid-template-rows: 10vh auto  auto;
        grid-template-columns: 5% auto auto 5%;
    }
    #Informatica h1, #Redes h1{
        grid-row: 1/4;
        grid-column: 2/4;
        text-align: center;
        color: #E44652;
    }
    #Informatica .inf-l, #Redes .red-l{
        grid-row: 2/3;
        grid-column: 2;
        text-align: center;
        font-size: 1.2em;
    }
    #Informatica .inf-c, #Redes .red-c{
        grid-row: 2/3;
        grid-column: 3;
        text-align: center;
        font-size: 1.2em;
    }
    #Informatica .inf-r, #Redes .red-r{
        grid-row: 4/5;
        grid-column: 2/4;
        text-align: center;
        font-size: 1.2em;
    }
    
}
@media (min-width: 700px){
    #Informacion .info-l{
        font-size: 1.2em;
    }
    #Informacion .info-r{
        font-size: 1.2em;
    }
    #Informatica, #Redes{
        grid-template-rows: 10vh auto ;
        grid-template-columns: 5% auto auto auto 5%;
    }
    #Informatica h1,#Redes h1{
        grid-row: 1/2;
        grid-column: 2/5;
    }
    #Informatica .inf-l, #Redes .red-l{
        grid-row: 2/3;
        grid-column: 2;
        text-align: center;
        font-size: 1.2em;
    }
    #Informatica .inf-c, #Redes .red-c{
        grid-row: 2/3;
        grid-column: 3;
        text-align: center;
        font-size: 1.2em;
    }
    #Informatica .inf-r, #Redes .red-r{
        grid-row: 2/3;
        grid-column: 4;
        text-align: center;
        font-size: 1.2em;
    }
}